# Unix
alias ls="ls -F --color=auto"
alias ll="ls -al"
alias ln="ln -v"
alias mkdir="mkdir -p"
alias e="$EDITOR"
alias v="$VISUAL"
alias p="sudo pacman"
alias skype="apulse32 skype"

# Bundler
alias b="bundle"
alias be="b exec"

# Rails
alias migrate="rake db:migrate db:rollback && rake db:migrate db:test:prepare"

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'
